/*Обнуляющие стили*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
/*--------------------*/

@font-face {
	font-family: 'PF Din Text Comp Pro';
	src: url('fonts/pfdintextcomppro-bold.eot');
	src: local('☺'), url('fonts/pfdintextcomppro-bold.woff') format('woff'), url('fonts/pfdintextcomppro-bold.ttf') format('truetype'), url('fonts/pfdintextcomppro-bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PF Din Text Comp Pro';
	src: url('fonts/pfdintextcomppro-regular.eot');
	src: local('☺'), url('fonts/pfdintextcomppro-regular.woff') format('woff'), url('fonts/pfdintextcomppro-regular.ttf') format('truetype'), url('fonts/pfdintextcomppro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
   font-family: 'ALS Hauss';
   src: local('ALS Hauss Bold'), local('ALS-Hauss-Bold'),
       url('fonts/ALSHauss-Bold.woff2') format('woff2'),
       url('fonts/ALSHauss-Bold.woff') format('woff'),
       url('fonts/ALSHauss-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
 }
 @font-face {
   font-family: 'ALS Hauss';
   src: local('ALS Hauss Regular'), local('ALS-Hauss-Regular'),
       url('fonts/ALSHauss-Regular.woff2') format('woff2'),
       url('fonts/ALSHauss-Regular.woff') format('woff'),
       url('fonts/ALSHauss-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }
body {
   
   font-family: 'PF Din Text Comp Pro';
   font-weight: normal;
   color: #11305D;
}
.wrapper {
   min-height: 100%;
   
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.container {
   margin: 0px auto;
}
.content {
   flex: 1 1 auto;
   
}
.content::before{
   content: "";
   display: block;
   width: 100%;
   height: 1px;
   
   background-color: #11305D;
}
.header__text, .header__info, .header__list{
   text-transform: uppercase;
}
a, a:visited{
   color: #11305D;
}
.header__row{
   display: flex;
}
.header__logo{
   flex: 0 0 316px;
}
.header__img{
   background: url(/img/logo.svg) center no-repeat;
   padding: 150px 0px 10px 10px;
}
.header__bar{
   
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.header__icons{
   display: flex;
   white-space: nowrap;
   justify-content: space-between;
   padding: 0 20px 0 0;
}
.header__icons div{
   padding: 5px;
}
.header__lk, .header__version{
   font-size: 14px;
   letter-spacing: 0.05em;
   text-transform: uppercase;   
}
.header__man{

}
.header__profile p{
   display: block;
   height: 50px;
   background: url(/img/lk.svg) left no-repeat;
   padding: 17px 0px 0px 50px;
}
.header__blind p{
   display: block;
   height: 50px;
   background: url(/img/version.svg) left no-repeat;
   padding: 17px 0px 0px 40px;
}
.header__contacts{
   font-family: 'PF Din Text Comp Pro';
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   letter-spacing: 0.05em;
}
.header__app{
   
}
.header__name{
   font-size: 19px;
  
}
.header__name p{
   display: block;
   height: 50px;
   background: url(/img/app.svg) right no-repeat;
   padding: 17px 50px 0px 0px;
}
.header__nav{
   padding: 5px;
   color: #11305D;
}
.header__list{
   font-family: 'ALS Hauss';
   font-weight: bold;
   font-size: 14px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   display: flex;
   white-space: nowrap;
   padding: 0 20px 0 0;
   
}
.header__list li{
   padding: 0px 0px 0px 45px;  
   white-space: nowrap; 
} 
.columns__row{
   display: flex;
   text-transform: uppercase;
}
.columns__icons{
   padding: 50px;
   flex: 0 1 25%;
}
.columns__about{
   padding: 30px 0;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__about p{
   display: block;
   height: 180px;
   padding: 120px 0px 0px 5px;
}
.columns__about_1{
   background: url(/img/01.svg) top no-repeat;
}
.columns__about_2{
   background: url(/img/02.svg) top no-repeat;
}
.columns__about_3{
   background: url(/img/03.svg) top no-repeat;
}
.columns__about_4{
   background: url(/img/04.svg) top no-repeat;
}
.columns__info{
   background-color: #11305D;
   color: #fff;
   text-align: center;
   padding: 30px;
   text-transform: uppercase;
}
.columns__info h1{
   padding: 20px 0;
   font-size: 35px;
   letter-spacing: 0.05em;
   text-transform: uppercase;

}
.columns__info p{
   margin: 0 auto;
   width: 957px;
   height: 95px;
   font-size: 24px;
   line-height: 33px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__group{
   width: 850px;
   margin: 0 auto;
   display: flex;
}
.columns__information{
   padding: 20px 0;
}
.columns__numerous{
   padding: 20px 0;
   font-size: 43px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__numerous span{
   font-size: 24px;
   text-transform: lowercase;
}
.columns__content{
   font-size: 21px;
   line-height: 29px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__text, .columns__download, .columns__professional{
   font-family: 'ALS Hauss';
   font-weight: normal;
}
.columns__text{
   display: flex;
   padding: 111px 0;
   margin: 0px -32px;
   height: 1491px;
   justify-content: space-between;
}
.columns__company{
   flex: 0 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0px 32px;
}
.columns__we{
   width: 372px;
   padding: 86px 0 73px 0;
   align-self: center;
   justify-content: space-between;
}
.columns__picture{
   width: 604px;
   height: 467px;
}
.columns__subtitle{
   font-size: 22px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   padding: 0 0 20px 0;
}
.columns__book{
   font-size: 14px;
   line-height: 24px;
}
.columns__movie{
   height: 467px;
   background-image: url("img/video.jpg");
}
.columns__title{
   background-color: #11305D;
   color: #fff;
   font-size: 24px;
   line-height: 33px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   text-align: center;
   padding: 40px 0;
}
.columns__application{
   width: 1131px;
   height: 635px;
   display: flex;
   justify-content: space-between;
}
.columns__load{
   padding: 175px 0 137px 32px;
   flex: 0 0 450px;
}
.columns__for{
   width: 454px;
   height: 151px;
   padding: 0 0 43px 0;
   margin: 0px -30px 0px 0px;
   font-size: 35px;
   line-height: 35px;
   letter-spacing: 0.05em;
}
.columns__download p{
   padding: 0 0 9.5px 0;
   font-size: 12px;
   letter-spacing: 0.5em;
   text-transform: uppercase;
}
.columns__phone{
   position: relative;
   flex: 1 1 auto;
   padding: 105px 147px 105px 0;
}
.columns__mobile img{
   width: 566px;
   height: 425px;
}
.columns__professional{
   width: 225px;
   font-size: 14px;
   line-height: 24px;
   position: absolute;
   top: 170px;
   right: 10px;
   opacity: 5;
}
.footer{
   background-color: #11305D;
   color: #fff;
}
.footer__row{
   display: flex;
   margin: 0px -5px;
   padding: 30px 10px 0px 10px;
}
.footer__logo, .footer__nav, .footer__contact, .footer__info{
   padding: 0px 5px;
   flex: 0 1 25%;
}
.footer__logo{
   flex: 0 0 316px;
}
.footer__img{
   background: url(/img/logof.svg) center no-repeat;
   padding: 200px 0px 0px 10px;
}
.footer__list{
   font-family: 'ALS Hauss';
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}
.footer__list a, .footer__list a:visited{
   color: #fff;
}
.footer__contact{
   line-height: 25px;
}
.footer__phone{
   font-family: 'PF Din Text Comp Pro';
   font-weight: bold;
   font-size: 22px;
   letter-spacing: 0.05em;
   padding: 10px 0;
}
.footer__mail{
   font-size: 17px;
   line-height: 23px;
   letter-spacing: 0.05em;
}
.footer__social{
   background: url(/img/social.svg) left no-repeat;
   padding: 140px 0px 0px 0px;
}
.footer__info{
   font-size: 17px;
   line-height: 23px;
   letter-spacing: 0.05em;
   display: flex;
   align-items: center;
}
.footer span{
   font-weight: bold;
   line-height: 23px;
   letter-spacing: 0.05em;
}
.footer__copy{
   padding: 0 33px 10px 0;
   text-align: right;
   font-size: 10px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}