/*Обнуляющие стили*/
*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active{
   outline: none;
}
a:focus,
a:active{
   outline: none;
}
nav,
footer,
header,
aside{
   display: block;
}
html,
body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea{
   font-family: inherit;
}
input::-ms-clear{
   display: none;
}
button{
   cursor: pointer;
}
button::-moz-focus-inner{
   padding: 0;
   border: 0;
}
a,
a:visited{
   text-decoration: none;
}
a:hover{
   text-decoration: none;
}
ul li{
   list-style: none;
}
img{
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-size: inherit;
   font-weight: inherit;
}
/*--------------------*/

@font-face{
	font-family: "PF Din Text Comp Pro";
	src: url("fonts/pfdintextcomppro-bold.eot");
	src: local("☺"), url("fonts/pfdintextcomppro-bold.woff") format("woff"), url("fonts/pfdintextcomppro-bold.ttf") format("truetype"), url("fonts/pfdintextcomppro-bold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "PF Din Text Comp Pro";
	src: url("fonts/pfdintextcomppro-regular.eot");
	src: local("☺"), url("fonts/pfdintextcomppro-regular.woff") format("woff"), url("fonts/pfdintextcomppro-regular.ttf") format("truetype"), url("fonts/pfdintextcomppro-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face{
   font-family: "ALS Hauss";
   src: local("ALS Hauss Bold"), local("ALS-Hauss-Bold"),
       url("fonts/ALSHauss-Bold.woff2") format("woff2"),
       url("fonts/ALSHauss-Bold.woff") format("woff"),
       url("fonts/ALSHauss-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
 }
 @font-face{
   font-family: "ALS Hauss";
   src: local("ALS Hauss Regular"), local("ALS-Hauss-Regular"),
       url("fonts/ALSHauss-Regular.woff2") format("woff2"),
       url("fonts/ALSHauss-Regular.woff") format("woff"),
       url("fonts/ALSHauss-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }

body{
   font-family: "PF Din Text Comp Pro";
   font-weight: normal;
   color: #11305D;
}
.wrapper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.container{
   margin: 0px auto;
}
.header__text, .header__info, .header__list{
   text-transform: uppercase;
}
a, a:visited{
   color: #11305D;
}
.header__row{
   display: flex;
}
.header__logo{
   flex: 0 0 25%;
}
.header__img{
   background: url("img/logo.svg") center no-repeat;
   padding: 150px 0px 10px 0px;
}
.header__bar{
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px 0px 0 0px;
}
.header__icons{
   display: flex;
   white-space: nowrap;
   justify-content: space-between;
   padding: 0px 40px 0px 0px;
}
.header__lk, .header__version{
   font-size: 14px;
   letter-spacing: 0.05em;
   text-transform: uppercase;   
}
.header__lk{
   border-right: 1px solid #11305D;
   height: 52px;  
}
.header__profile p{
   display: block;
   height: 50px;
   background: url("img/lk.svg") left no-repeat;
   padding: 17px 70px 0px 40px;
}
.header__profile p:hover, .header__profile p:active{
   display: block;
   height: 50px;
   background: url("img/lkh.svg") left no-repeat;
   padding: 17px 70px 0px 40px;
}
.header__blind{
   border-right: 1px solid #11305D;
   height: 52px;  
}
.header__blind p{
   display: block;
   height: 50px;
   background: url("img/version.svg") left no-repeat;
   padding: 10px 70px 0px 40px;
}
.header__blind p:hover, .header__blind p:active{
   display: block;
   height: 50px;
   background: url("img/versionh.svg") left no-repeat;
   padding: 10px 70px 0px 40px;
}
.header__phone{
   font-family: "PF Din Text Comp Pro";
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   letter-spacing: 0.05em;
}
.header__mail{
   font-size: 22px;
   font-weight: normal;
   padding: 0px 0px 5px 0px;
}
.header__mail:hover, .header__mail:active{
   padding-bottom: 3px;
   width: 105px;
   border-bottom: 2px solid #11305D;;
}
.header__app{
   border-left: 1px solid #11305D;
   height: 52px;  
}
.header__name{
   font-size: 19px;
}
.header__name{
   display: block;
   height: 50px;
   background: url("img/app.svg") right no-repeat;
   padding: 17px 40px 0px 50px;
}
.header__name:hover, .header__name:active{
   display: block;
   height: 50px;
   background: url("img/apph.svg") right no-repeat;
   padding: 17px 40px 0px 50px;
}
.header__nav{
   color: #11305D;
}
.header__list{
   font-family: "ALS Hauss";
   font-weight: bold;
   font-size: 14px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   display: flex;
   white-space: nowrap;
   
}
.header__list li{
   padding: 0px 50px 0px 0px;  
   white-space: nowrap; 
   line-height: 5;
} 
.header__list li:after{
   display: block;
   content: "";
   height: 8px;
   width: 0%;
   background-color: #11305D;
   transition: width 0.1s ease-in-out;
}
.header__list li:hover:after, .header__list li:focus:after{
   width: 100%;
}

/*Меню-бургер*/

.header__list li{
   display: inline-block;
}
.header__list li a{
   display: block;
   color: #11305D;
   text-decoration: none;
}
.header__menu{
   max-width: 1240px;
   margin: 0px auto; 
}
.header__toggle{  
   color: #11305D;
   cursor: pointer;
   display: none;
   width: 25px;
   height: 25px;
}

@media( max-width: 768px){
   .header{
      min-height: 114px;
   }
   .header__row{
      flex-direction: row-reverse;
   }
   .header__logo{
      margin: 0 auto;
      padding: 18px 0px 16px 0px;
   }
   .header__img{
      background: url("img/logohm.svg") 50% no-repeat;
      width: 108.3px;
      height: 94px;
      padding: 0;
      margin-right: 65px;
   }
   .header__bar{
      flex: 0 0 65px;
      flex-direction: row-reverse;
      padding: 0;
   }
   .header__lk, .header__version, .header__contacts, .header__p{
      display: none;
   }
   .header__app{
      border: none;
   }
   .header__name{
      position: absolute;
      top: 18px;
      right: 21px;
   }
   .header__toggle{
      display: block;
      padding: 0;
      position: absolute;
      top: 23px;
      left: 20px;
   }
   .header__list{
      display: none;
      position: absolute;
      top: 145px;
      background: #fff;
      width: 100%;
      text-align: center;
   }
   .header__list li{
      display: block;
      padding: 0;
   }
   .header__list li:after{
      display: block;
      content: "";
      height: 5px;
      width: 0%;
      background-color: #11305D;
      transition: width 0.3s ease-in-out;
   }
   .header__list li:hover:after, .header__list li:focus:after{
      width: 25%;
      margin: 0 auto;
   }
}

.header__toggle_icon {
   width: 25px;
   height: 25px;
   cursor: pointer;
}
.header__burger {
   width: 32px;
   height: 2px;
   transform: translate(-50%, -50%);
   background: #11305D;
   transition: 0.5s;
   display: inline-block;
   margin-left: 12px;
}
.header__burger:before,
.header__burger:after {
   content: "";
   width: 32px;
   height: 2px;
   position: absolute;
   background: #11305D;
   transition: 0.5s;
}
.header__burger:before {
   top: -7px;
}
.header__burger:after {
   top: 7px;
}
.header__toggle_icon.active .header__burger {
   background: rgba(0, 0, 0, 0);
}
.header__toggle_icon.active .header__burger:before {
   top: 0;
   transform: rotate(45deg);
}
.header__toggle_icon.active .header__burger:after {
   top: 0;
   transform: rotate(135deg);
}
/*-----------------*/

.content{
   flex: 1 1 auto;
}
.content::before{
   content: "";
   display: block;
   width: 100%;
   height: 1px;
   background-color: #11305D;
}
.columns__row{
   display: flex;
   text-transform: uppercase;
   height: 374px;
}
.columns__icons{
   flex: 0 1 25%;
   padding: 30px 0px 0px 0px;
}
.columns__about{
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__about p{
   display: block;
   padding: 180px 0px 0px 0px;
}
.columns__about_1{
   background: url("img/01.svg") 50% 44px/120px no-repeat;
}
.columns__about_1:hover, .columns__about_1:active{
   background: url("img/01h.svg") 50% 44px/120px no-repeat;
}
.columns__about_2{
   background: url("img/02.svg") 50% 44px/120px no-repeat;
}
.columns__about_2:hover, .columns__about_2:active{
   background: url("img/02h.svg") 50% 44px/120px no-repeat;
}
.columns__about_3{
   background: url("img/03.svg") 50% 44px/120px no-repeat;
}
.columns__about_3:hover, .columns__about_3:active{
   background: url("img/03h.svg") 50% 44px/120px no-repeat;
}
.columns__about_4{
   background: url("img/04.svg") 50% 44px/120px no-repeat;
}
.columns__about_4:hover, .columns__about_4:active{
   background: url("img/04h.svg") 50% 44px/120px no-repeat;
}
.columns__about_1, .columns__about_2, .columns__about_3{
   height: 308px;
   border-right: 1px solid #11305D;
}
.columns__info{
   background-color: #11305D;
   color: #fff;
   font-weight: normal;
   text-align: center;
   padding: 30px;
   text-transform: uppercase;
}
.columns__info h1{
   padding: 20px 0;
   font-size: 35px;
   letter-spacing: 0.05em;
   text-transform: uppercase;

}
.columns__info p{
   margin: 0 auto;
   max-width: 85%;
   height: 95px;
   font-size: 24px;
   line-height: 33px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   padding: 10px;
}
.columns__group{
   max-width: 850px;
   margin: 0 auto;
   display: flex;
}
.columns__information{
   padding: 20px 0;
}
.columns__numerous{
   padding: 20px 0;
   font-size: 43px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__numerous span{
   font-size: 24px;
   text-transform: lowercase;
}
.columns__content{
   max-width: 66%;
   margin: 0 auto;
   font-size: 21px;
   line-height: 29px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}
.columns__text, .columns__download, .columns__professional{
   font-family: "ALS Hauss";
   font-weight: normal;
}
.columns__text{
   display: flex;
   padding: 111px 0;
   margin: 0px -16px;
   height: 1491px;
   justify-content: space-between;
   align-items: space-between;
}
.columns__company{
   flex: 0 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0px 16px;
   width: 50%;
}
.columns__we{
   max-width: 372px;
   padding: 86px 0 73px 0;
   align-self: center;
   justify-content: space-between;
}
.columns__picture_1, .columns__picture_3{
   align-self: flex-end;
   width: 100%;

}
.columns__picture_2{
   align-self: flex-start;
   width: 100%;

}
.columns__picture img{
   width: 100%;
   height: 467px;
   object-fit: cover;

}
.columns__subtitle{
   font-size: 22px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   padding: 0 0 20px 0;
}
.columns__book{
   font-size: 14px;
   line-height: 24px;
}
.columns__movie{
   height: 467px;
   background-image: url("img/video.jpg");
}
.columns__title{
   background-color: #11305D;
   color: #fff;
   font-size: 24px;
   line-height: 33px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   text-align: center;
   padding: 40px 0;
}
.columns__title p{
   max-width: 720px;
   margin: 0 auto;
}
.columns__application{
   max-width: 1131px;
   height: 635px;
   display: flex;
   justify-content: space-between;
}
.columns__load{
   padding: 175px 0 137px 32px;
   flex: 0 0 450px;
}
.columns__for{
   max-width: 454px;
   height: 151px;
   padding: 0 0 43px 0;
   margin: 0px -30px 0px 0px;
   font-size: 35px;
   line-height: 35px;
   letter-spacing: 0.05em;
}
.columns__download p{
   padding: 0 0 25px 0;
   font-size: 12px;
   letter-spacing: 0.5em;
   text-transform: uppercase;
}
.columns__phone{
   position: relative;
   flex: 1 1 auto;
   padding: 105px 0px 105px 0;
}
.columns__mobile{
   width: 566px;
   height: 425px;
}
.columns__mobile img{
   max-width: 100%;
   height: 425px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.columns__professional{
   width: 225px;
   font-size: 14px;
   line-height: 24px;
   position: absolute;
   top: 170px;
   left: 480px;
   opacity: 5;
}

@media (max-width: 768px) {
   .content:before{
      max-width: 90%;
      margin: 0 auto;
   }
   .container{
      min-width: 320px;
   }
   .columns__row{
      display: flex;
      flex-direction: column;
      height: 100%;
   }
   .columns__icons_2:before, .columns__icons_3:before, .columns__icons_4:before{
      content: "";
      display: block;
      max-width: 90%;
      height: 1px;
      margin: 0 auto;
      background-color: #11305D;
   }
   .columns__icons{
      flex: 0;
      padding: 0px 0px 30px 0px;
   }
   .columns__about{
      height: 100%;
   }
   .columns__about_1, .columns__about_2, .columns__about_3{
      border: none;
   }
   .columns__about p{
      font-size: 18px;
      line-height: 25px;
      padding: 155px 0px 0px 0px;
   }
   .columns__information{
      width: 100%;
   }
   .columns__info{
      height: 100%;
      line-height: 31px;
      letter-spacing: 0.05em;
      padding: 38px 0px 0px 0px;
   }
   .columns__content{
      font-size: 18px;
   }
   .columns__info h1{
      font-size: 23px;
      padding: 0;
   }   
   .columns__info p{
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
      padding: 20px 0px 0px 0px;
      height: 100%;
   }  
   .columns__group{
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding: 43px 0px 43px 0px;
   }
   .columns__text{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
   }
   .columns__we{
      max-width: 85%;
      padding: 23px 0px 40px 0px;
   }
   .columns__subtitle{
      font-size: 18px;
      line-height: 24px;
   }
   .columns__book{
      font-size: 12px;
      line-height: 19px;
   }
   .columns__movie{
      height: 362px;
   }
   .columns__title{
      height: 118px;
      padding: 0;
      display: flex;
      align-items: center;
   }
   .columns__title p{
      max-width: 272px;
      font-size: 18px;
      font-weight: normal;
      line-height: 25px;
      letter-spacing: 0.05em;
      
   }
   .columns__application{
      height: 384px;
      padding: 0;
   }
   .columns__professional{
      display: none;
   }
   .columns__load{
   flex: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   }
   .columns__phone{
      padding: 0;
      position: relative;
   }
   .columns__mobile img{
      filter: none;
   }
   .columns__download{
      
   }
   .columns__download img{
      max-height: 70%;
      max-width: 70%;
      padding: 0;
   }
   .columns__download p{
      font-size: 10px;
      line-height: 13px;
      padding: 50px 0px 7px 0px;
   }
   .columns__mobile{
      background: url("img/telm.jpg") top no-repeat;
      width: 100%;
      height: 100%;
      padding: 0;
      position: absolute;
      top: 140px;
      left: -10px;
   }
   .columns__mobile img{
      display: none;
   }
   .columns__for{
      width: 251px;
      font-size: 18px;
      line-height: 25px;
      padding: 65px 0px 40px 20px;
   }

   .columns__company{
      width: 100%;
      justify-content: flex-start;
   }
   .columns__picture_2{
      order: 1;
   }
   .columns__we_1{
      order: 2;
   }
   .columns__picture_1{
      order: 3;
   }
   .columns__we_3{
      order: 4;
   }
   .columns__picture_3{
      order: 5;
   }
   .columns__we_2{
      order: 6;
   }
}

.footer{
   background-color: #11305D;
   color: #fff;
   height: 253px;
}
.footer__row{
   display: flex;
   align-items:center;
   margin: 0px -5px;
   padding: 30px 10px 0px 10px;
}
.footer__logo{
   flex: 0 1 36%;
}
.footer__nav{
   flex: 0 1 30%;
}
.footer__contact{
   flex: 0 1 33%;
}
.footer__info{
   flex: 0 1 45%;
   padding: 0px 80px 0px 0px;
}
.footer__img{
   background: url("img/logof.svg") center no-repeat;
   padding: 200px 0px 0px 10px;
}
.footer__list{
   font-family: "ALS Hauss";
   font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}
.footer a, .footer a:visited, .footer{
   color: #fff;
}
.footer__contact{
   line-height: 25px;
   height: 168px;
   font-weight: normal;
   border-left: 1px solid #fff;
   padding: 0px 0px 0px 32px;
}
.footer__phone{
   font-family: "PF Din Text Comp Pro";
   font-weight: bold;
   font-size: 22px;
   letter-spacing: 0.05em;
   padding: 10px 0;
}
.footer__mail{
   font-size: 17px;
   line-height: 23px;
   letter-spacing: 0.05em;
}
.footer__fb{
   width: 200px;
   background: url("img/fb.svg") left no-repeat;
   padding: 1px 40px 90px 0px;
}
.footer__fb:hover, .footer__fb:active{
   height: 200px;
   background: url("img/fbh.svg") left no-repeat;
   padding: 1px 40px 90px 0px;
}
.footer__in{
   background: url("img/in.svg") right no-repeat;
   padding: 1px 0px 90px 40px;
}
.footer__in:hover, .footer__in:active{
   background: url("img/inh.svg") right no-repeat;
   padding: 1px 0px 90px 40px;
}
.footer__info{
   font-size: 17px;
   line-height: 23px;
   letter-spacing: 0.05em;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.footer__info a{
   font-weight: bold;
}
.footer span{
   font-weight: bold;
   line-height: 23px;
   letter-spacing: 0.05em;
   color: #fff;
}
.footer span:hover, .footer span:active{
   padding-bottom: 3px;
   border-bottom: 2px solid #fff;
}
.footer__copy{
   font-family: "ALS Hauss";
   padding: 0 53px 15px 0;
   text-align: right;
   font-size: 10px;
   font-weight: normal;
   letter-spacing: 0.1em;
   line-height: 22px;
   text-transform: uppercase;
}

@media (max-width: 768px) {
   .footer{
      min-height: 375px;
   }
   .footer__nav, .footer__info{
      display: none
   }
   .footer__contact{
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
   }
   .footer__row{
      display: flex;
      flex-direction: column;
      padding: 0;
   }
   .footer__logo{
      padding: 44px 0px 0px 0px;
   }
   .footer__img{
      background: url("img/logofm.svg") top no-repeat;
      width: 108.3px;
      height: 94px;
      padding: 0;
   }
   .footer__phone{
      font-size: 22px;
      padding: 36px 0px 6px 0px;
   }
   .footer__social{
      padding: 0px 0px 20px 0px;
   }
   .footer__copy{
      flex: 1 1 auto;
      padding: 50px 0px 1px 0px;
      text-align: center;
   }
}